#container{
	margin: 100px auto;
}
#submitchat{
	margin-bottom: 50px;
}

/***************Sign In, Sign Up pages***********/

.signUpForm, .signInForm {	
	margin: 0 auto;
	margin-top: 15px;
	margin-left: 15%;
	width: 500px;
	height: 250px;
	background: #000000;
	border-radius: 5px; 
	text-align: center;
	padding-top: 5px;
	box-shadow: 0 0 10px rgba(0,0,0, .5);
	transform: translate(50%,50%);
}

.username {
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 25px;
	padding-left: 9px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

.password {
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 5px;
  	margin-right: 3px;
	padding-left: 9px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

.password:hover, .username:hover {
	box-shadow: 0 0 10px rgba(178,34,34, 1); 
	border: 1px #b22222	 solid ;
}

.password:focus, .username:focus, .button:focus, .button:hover:focus{
	box-shadow: 0 0 10px rgba(178,34,34, 1); 
	border: 1px #b22222	 solid ;
}

.button {
	color:#fff;
	font-size:20px;
	border: 1px solid #a6a6a6;
	width: 110px;
	height: 43px;
	border-radius: 5px;
	margin-top: 5px;
	margin-right: 6px;
	outline: none;
	background: -moz-linear-gradient(top,  rgb(255,48,25) 0%, rgb(207,4,4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,48,25)), color-stop(100%,rgb(207,4,4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(255,48,25) 0%,rgb(207,4,4) 100%); /* IE10+ */
}

  
.button:hover{
	background: -moz-linear-gradient(top,  rgb(204,0,0) 0%, rgb(204,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,0,0)), color-stop(100%,rgb(204,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%); /* IE10+ */
}

label {
	position: relative;
	top: 5px;
	margin-right: 115px;
	}
label span {
	margin-left: 5px;
	font-size:14px;
}


/***********************User Lists*************************/

#otherUsers li{
	border-bottom: 1px solid #ccc;
	display: table;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2px;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
  margin: 0;
}
.li-sub {
  margin: 0;
}



/************************Chat Area**********************/
.chat-area{
	padding: 70px !important;
    margin: 20px;
}

.chatlog{
	font:12px Trebuchet MS;
	margin:auto auto;
}


.chatlog ul{
	margin:0;
	padding:0;
	padding-bottom:15px;
	margin-bottom:15px;
}

.chatlog ul li{
	width:100%;
	list-style-type:none;
	margin:5px 0;
	position:relative;
	display:inline-block;
}

.chatlog ul li img{
	height: 64px;
	width:64px;
	float:left;
	border-radius:50px;
	box-shadow:0 2px 15px rgba(0,0,0,.5);
}
.chatlog ul li .message{
	margin-left:90px;
	background:blue;
	position:relative;
	min-height:25px;
	margin-top:35px;
	padding:10px;
	box-sizing:border-box;
   
}


.chatlog ul li:nth-child(odd) img{
	float:right;
}

.chatlog ul li:nth-child(odd) .message{
	margin-right:90px;
	margin-left:0;
	background:#def1ff;
}



.chatlog ul li:nth-child(even) .message{
  background:#daffb1;
}

#message{
	width: 75%;
}



/*******************Right side**********************/
.welcome{
	font-family: monospace;
}

.btn-log-out{
	color: black;
	font-family: verbose;
	float: left;
    margin: 50px;
}